<article class="task">
		<div class="d-inline">
			<p class='task-p' id='task' <%if(item.done==1){console.log("foo");%> style="text-decoration:line-through"<%}%>><%=no+1;%> <%=item.task%>
			<a class="btn btn-default done-icon" id="done-btn" type="button" aria-label="Done" href='/tasks/<%=key%>/done'>
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			</a>
			<a class="btn btn-default del-icon" id="del-icon" type="button"aria-label="Delete" href='/tasks/<%=key%>/delete'>
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</a>
			</p>
		</div>
</article>
