<!-- views/main-page.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/dopify-site.css">
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Dopeify</title>
</head>
<%- include('nav')%>
<body>
  <main>
      <div class="container">
        <div class="row centered-text">
            <h1>Dopeify!</h1>
        </div>

        <div class="row ">
          <div class="col-md-4">
            <form id='new_task' action="tasks/create/" method=POST>
              <div class="form-group">
                <!--TODO modify width-->
                <div>
                  <textarea type="text" class="form-control" rows="2" id='task-body' type='text' name="task" placeholder="What's next?" autofocus></textarea>
                </div>
                  <button type="submit" class="btn create-btn" >Create</button>
                  <a class="btn btn-default meow" type="button" id="meow" href="https://www.youtube.com/watch?v=DCIKtAV72tM">Meow</a>
              </div>

           </form>
          </div>

        </div>
        <div class="row">
          <div class="col-md-8">
          <h2>Todo</h2>
            <%for(var i=0;i<keys.length;i++){%>
              <% var k =keys[i];%>
                <%- include('_task', {item: tasks[k], key: k, no: i});%>
                  <%}%>
          </div>
        </div>
      </div>
  </main>
</body>

</html>
