<nav class="nav-home">
    <u1 class="list">
      <li class="item">
          <a class="link" href="/">Home</a>
      </li>
      <li class="item">
          <a class="link" href="/signup">Signup</a>
      </li>
      <li class="item">
          <a class="link" href="/login">Login</a>
      </li>
      <li class="item">
          <a class="link" href="/about">About</a>
      </li>
      <li class="item">
          <a class="link" href="/profile">Profile</a>
      </li>
    </u1>
</nav>


  <%/*if(user){%>
    <a class="link" href="/profile">Profile</a>
  <%}*/%>
