<nav class="navbar navbar-default bg-faded nav-home">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <!--<img alt="Dopeify" src="http://placehold.it/140x100" width="27px">-->
      </a>
    </div>
    <u1 class="nav navbar-nav navbar-right list">
      <li class="item">
          <a class="link" href="/">Home</a>
      </li>
      <li class="item">
          <a class="link" href="/signup">Signup</a>
      </li>
      <li class="item">
          <a class="link" href="/login">Login</a>
      </li>
      <li class="item">
          <a class="link" href="/about">About</a>
      </li>
      <li class="item">
          <a class="link" href="/profile">Profile</a>
      </li>
    </u1>
  </div>
</nav>


  <%/*if(user){%>
    <a class="link" href="/profile">Profile</a>
  <%}*/%>
