<!-- views/main-page.ejs -->
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/dopify-site.css">
  <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.css">
</head>

<body>
  <main>
    <%- include('nav')%>
      <div class="container-fluid">
        <div class="col-md-2">
        <form id='new_task' action="/signup/new" method=POST>
          <div class="form-group">
            <label for="signup_username">Email</label>
            <input id='signup_username_id' type='email' class='form-control username-field' name="signup_username" placeholder="Myself Ramesh" autofocus=>
          </div>
          <div class="form-group">
            <label for="signup_password">Password</label>
            <input id='signup_password_id' type='password' class='form-control password-field' name="signup_password" placeholder="Secret stuff">
          </div>
          <div>
            <button type="submit" class="btn btn-success" >Sign up!</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>

</html>
