body {
  margin: 0 auto;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

.meow{
  background-color: rgba(52,152,219,0.9);
  color :#ffffff;
  border: 1px solid transparent;
  cursor: pointer;
}
.meow:hover{

  color: #ffffff;
  background-color: rgba(52,152,219,1);
  

}

.create-btn {
  color: #ffffff;
  border: 1px solid transparent;
  background-color: rgba(22,160,133,0.9);
  cursor: pointer;
}
.create-btn:hover,
.create-btn:focus{
  color: #ffffff;
  background-color: rgba(22,160,133,1);

}

#task-body {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px 10px 8px 10px;
  border-radius: 8px;
  width: 100%;
}

/*.task> .d-inline> task-p> .del_icon {}*/
.del-icon{
  color: rgba(231,76,60,0.9);
}
.del-icon:hover,
.del-icon:focus{
  background-color: rgba(231,76,60,1);
  color: #ffffff;
}

.done-icon{
  color: rgba(39,174,96,0.9);
}
.done-icon:hover,
.done-icon:focus{
  background-color: rgba(39,174,96,0.9);
  color: #ffffff;
}



.nav-white-link{
  color: #ffffff !important;
}
/*
.nav-white-link.a:hover{
  background-color: #000000 !important;
}
*/




#signup_button {
  color: #e1e8ed;
  font-size: 14px;
  padding: 7px 8px;
  background-color: #3498db;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

#signup_button:hover {
  color: #3368db;
}

.username-field {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px 10px 8px 10px;
  border: 1px solid #34495e;
  border-radius: 4px;
  width: 25%;
}

.password-field {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px 10px 8px 10px;
  border: 1px solid #34495e;
  border-radius: 4px;
  width: 25%;
}

.positive-button {
  color: #e1e8ed;
  font-size: 14px;
  padding: 7px 8px;
  background-color: #3498db;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

body {
  /*
  line-height: 1.5;
  padding: 4em 1em;
  */
}

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

header {
  background-color: #263d36;
  background-image: url("header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

.centered-text {
  text-align: center;
}

.done-toggled {
  text-decoration: line-through;
}

.navbar-custom{
   background: linear-gradient(to top left, #7cc5f8, #3498db);
}
