body {
  margin: 0 auto;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}


#meow {
  color: #ffffff;
  padding: 7px 8px;
  background-color: #00acc1;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

#task-body {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px 10px 8px 10px;

  border-radius: 8px;

  width: 100%;
}

#create_button {

  color: #ffffff;

  font-size: 14px;

  background-color: #16a085;

  border: 1px solid transparent;

  border-radius: 10px;

  cursor: pointer;

}


#signup_button {

  color: #e1e8ed;
  font-size: 14px;
  padding: 7px 8px;
  background-color: #3498db;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;

}

#signup_button:hover{
  color:#3368db;
}

.username-field {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px 10px 8px 10px;
  border: 1px solid #34495e;
  border-radius: 4px;
  width: 25%;
}


.password-field {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px 10px 8px 10px;
  border: 1px solid #34495e;
  border-radius: 4px;
  width: 25%;
}

.positive-button{
  color: #e1e8ed;
  font-size: 14px;
  padding: 7px 8px;
  background-color: #3498db;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;

}
body {
  /*
  line-height: 1.5;
  padding: 4em 1em;
  */
}





h1,
h2,
strong {
  color: #333;
}


a {
  color: #e74c3c;

}
a:hover{
  color: #e81c4f;
}



pre {
  border-left: 2px solid #69c;
}

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

header {
  background-color: #263d36;
  background-image: url("header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}
header a:hover {

  background:  #e81c4f;
  color: white;
}
.centered-text{
  text-align:center;
}

.done-toggled{ text-decoration: line-through; }
